
%h1 Find people similar to your

%ol
  %li Create an Account
  %li Choose your interests
  %li Get your matches

- if user_signed_in?
  .row
    .span12
      = form_for :interest do |f|
        = f.label :name
        = f.text_field :name